.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo a {
  font-size: 1.5rem;
  font-weight: 700;
}

.navLinks a {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #333333;
  text-decoration: none;
}

.navLinks a:hover {
  color: #0070f3;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
  margin-right: 5%;
}

.cart:hover {
  transform: scale(1.2);
  cursor:pointer
}
.cart:active{
  transform: scale(0.8);
}
.navbar_toggle {
  display: block;
}

.navbar_collapse.collapse {
  display: none !important;
}
.navbar_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px
}
.cart_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.cart_counter{
  color: white;
}
@media (max-width: 768px) {
  .navbar_nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
