.cart_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid rgb(155, 154, 154);
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.cart_item_image{
    width: 10vh;
}
.cart_item_labels{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.2rem;
}
.button_remove{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: transparent;
}