  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  .product_name {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-family: var(--bs-navbar-brand-font-size);
  }
  
  .product_description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .product_price {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }
  
  .product_image {
    width: 100%;
    max-width: 400px;
    height: 25vh;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  .product_button {
    display: flex;
    background-color: #D4AF37	;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
  }
  
  .product_button:hover {
    background-color: #e6d00a;
  }
  .product:hover{
    transform: scale(1.1);
    transition: 0.7s;
    cursor: pointer;
    color: black;
  }